body img {
    max-width: 100%;
}

a:hover {
    text-decoration: none;
}

/*Style Header*/

header.index-banner {
  width: 100vw; 
  height: 100vh;
}

button.tombol.tombol-banner {
    padding: 16px 29px;
    background: #275099;
    color: #fff;
    font-weight: 500;
    border: none;
    font-size: 17px;
    letter-spacing: 1px;
    border-radius: 0px;
}
button.tombol.tombol-banner:hover {
    background: #fff;
    color: #275099;
}

/* Style Navigasi*/

nav.header-utama {
  width: 100vw;
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  position: fixed;
  top:0;
  z-index: 10;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#brand,
#menu,
ul.navigasi-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#brand {
  padding-left: 50px;
}


#logo-header {
  width: 75px;
  height: 75px;
  cursor: pointer;
}

#judul a {
  width: 300px;
  border-radius: 90px;
  margin-left: 10px;
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-family: Segoe UI; /*mengganti font judul*/
  font-size: 40px;
}

/*** Responsive Menu For Smaller Device ***/

@media screen and (max-width: 800px) {
  #menu-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  ul.navigasi-menu {
    display: inline-block;
    width: 100vw;
    height: 0vw;
    background: transparent;
    position: absolute;
    top: 65px !important;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  nav.header-utama.navShadow {
    height: 65px;
  }
  ul.showMenu li {
    height: auto;
    opacity: 1;
    visibility: visible;
    padding-top: 1.5em;
  }
  ul.showMenu li {
    height: 70px;
    opacity: 1;
    visibility: visible;
    margin: 0;
    background: #333;
	padding: 1em 1.35em;
	width: auto;
  }
  .navigasi-menu li {
    width: 15%;
    float: left;
    padding-left: 40px;
    opacity: 0;
    visibility: hidden;
    margin-left: 0;
    -webkit-transition: all 0.3s 0.1s;
    transition: all 0.3s 0.1s;
  }
  #head-line {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}
.banner {
    background: url(../images/banner.jpg)no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 1;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

.banner:after,
.inner_banner:after {
    background-color: #000;
    content: "";
    left: 0;
    opacity: 0.5;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.agileinfo-logo h2 {
    color: #fff;
    display: inline-block;
    font-size: 3.5em;
    font-weight: 400;
	line-height: 80px;
}

h3.txt-w3_agile {
    font-size: 3.2em;
    color: #fff;
    font-weight: 100;
}

.banner-text {
    padding: 13vw 0;
}